{{page-title "ManageAccounts"}}
<div class="wrapper" style="background-color: rgba(230, 251, 248, 0.7);">
  <div class="tabs">
    <div class="tab ">
      <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
      <label for="tab-1" class="tab-label">User Accounts</label>
      <div class="tab-content">
        <Table @layout={{this.layout.acc_layout}} @data={{this.tableLayout.acc_details}} @action={{(action "handleAccountActions")}} />
      </div>
    </div>
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
      <label for="tab-2" class="tab-label">Request Details</label>
      <div class="tab-content">
        <Table @layout={{this.layout.req_layout}} @data={{this.tableLayout.req_details}} @action={{(action "handleRequestActions")}} />
      </div>
    </div>

  </div>
</div>

<Message-box @statusMessage={{this.statusMessage}} />
<Loader @isloading={{this.isloading}} />

{{outlet}}
